body {
  background-color: black;
  height: 100vh;
}

div#board {
  position: relative;
  width: 1024px;
  height: 790px;
  margin: auto;
  background: url("board.jpg") no-repeat;
  background-size: contain;
}
div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}
table {

  position: absolute;
  left: 160px;
  top: 90px;
  border-spacing: 0;
}
td {
  position: relative;
  width: 85px;
  height: 85px;
}
form {
  position: absolute;
  bottom: 8rem;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
}
.hit {
  background: url("battle-img/ship.png") no-repeat center center;
}
.miss {
  background: url("battle-img/miss.png") no-repeat center center;
}
@media only screen and (max-width: 992.98px) {
  div#board {
    width: 800px;
  }
  table {

    position: absolute;
    left: 130px;
    top: 75px;
  }
  td {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 750px) {
  div#board {
    width: 400px;
    height: 1000px;
  }

  table {
    left: 65px;
    top: 35px;
  }

  td {
    width: 32px;
    height: 32px;
  }
 
} 